<div class="profile">
	<div class = "main">
		
	<%= @artist.name %>
	<%= @artist.bio %>
	
	<% if @artist.photo.exists? then %>
	<%= image_tag @artist.photo.url(:small) %>
	<% end %>
	
	<% unless @artist.albums.empty? %>
		<div class = "albumlist">
			<%= render @albums %>
		</div>
		<%= will_paginate @albums %>
	<% end %>
	
	<br>
	
</div>
