<div>
	<div class="song">
		
		<div>
		<%= song.name %>
		</div>
		
		<div>
		<%= song.album.name %>
		</div>
		
		<div>
		<%= song.album.artist.name %>
		</div>
		
		<div>
		<%= button_to price = 'Buy ' << song.price.to_s, line_items_path(song_id: song)%>
		</div>
		
	</div>
	<% if current_user.admin? || song.album.artist.user == current_user %>
			| <%= link_to 'Delete?', song, :method => :delete %>
	<% end %>
</div>
