<% if order.status == 0 %>

<table id="line_items">
  <tr>
    <th>Name</th>
    <th class="price">Price</th>
  </tr>
  <% for line_item in order.line_items %>
    <tr>
      <td><%=h line_item.song.name %></td>
      <td class="price"><%= number_to_currency(line_item.song.price, :unit => "&pound;") %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency order.total, :unit => "&pound;" %>
    </td>
  </tr>
</table>
<% else %>

<% for line_item in order.line_items %>
    <tr>
      <td><%=h line_item.song.name %></td>
      <td class="download"><%= link_to "Download", song_download_path(line_item.song) %></td>
    </tr>
<% end %>
  
<% end %>
