<h1>Artist Sign Up</h1>
<%= form_for [@artist, @album] do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :desc %><br />
		<%= f.text_field :desc %>
	</div>
	<div class="actions">
		<%= f.submit "Add up" %>
	</div>
<% end %>
