<div class="album">
	<div class = "main">
		
	<%= @album.name %><br>
	<%= @album.desc %>
	
	<% if @album.songs.empty? %>
	<div class = "emptyalbum">
		<p>Looks like this band hasn't uploaded any tracks for this album.</p>
	</dvi>
	
	<%= link_to "Add Track", new_album_song_path(@album) %>
	
	<% else %>
		<div class = "tracklist">
			<%= render @songs %>
		</div>
		<%= will_paginate @songs %>
	<% end %>
	
</div>
