<header class="main_nav">
<%= link_to logo, root_path %>
<nav class = "round">
<ul>
<% if signed_in? %>
<li><%= link_to "Home", root_path, :class => "menu_button"  %></li>
<li><%= link_to "Artists", artists_path, :class => "menu_button"  %></li>
<li><%= link_to "Albums", albums_path, :class => "menu_button"  %></li>
<li><%= link_to "Songs", songs_path, :class => "menu_button"  %></li>
<li><%= link_to "Settings", edit_user_path(current_user), :class => "menu_button"  %></li>
<% end %>
</ul>
<ul>
<% if signed_in? %>
<Li><%= link_to "Manage Artists", manage_path, :class => "menu_button"  %>
<li><%= link_to "View Purchases", purchases_path, :class => "menu_button"  %></i>
<li><%= link_to "View Basket", basket_path, :class => "menu_button"  %></i>
<li><%= link_to "Sign Out", signout_path, :method => :delete, :class => "menu_button"  %></li>
<% else %>
<li><%= link_to "Sign in", signin_path, :class => "menu_button"  %></i>
<% end %>
</ul>
</nav>
</header>